/.vscode
/a.exe
/Animal.cpp
/bubles_dont_have_choice.csv
/classes.cpp
/CMakeLists.txt
/email.cpp
/emails.txt
/hack.exe
/main.exe
/milion.zip
/Million
/Noded
/parallel_sort.cpp
/practice.cpp
/practice.exe
/questions.txt
/ses.exe
/session.cpp
/smart_vector.cpp
/smart_vector.exe
/sort.exe
/sorted.cpp
/standard_sort.cpp
/standard_sort.exe
/std_sort.cpp
/STL
/Stroka
/sudoku2.cpp
/Tam
/Tam.zip
/v.exe
/vectorize
/work.py
/x.exe
/Zemlemer
/Zipper